<div ng-controller="HeaderController as header">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#!/competitions">
                        <img width="36px" height="32px" class="header-image" src="../../images/header-competitions.png">
                        Змагання
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/teams">
                        <img width="42px" height="32px" class="header-image" src="../../images/header-teams.png">
                        Команди
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/sportsmen">
                        <img width="32px" height="32px" class="header-image" src="../../images/header-sportsmen.png">
                        Спортсмени
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/typesOfSport">
                        <img width="32px" height="32px" class="header-image" src="../../images/header-sport.png">
                        Спортивні дисципліни
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/wmaFactors">
                        <img width="32px" height="32px" class="header-image" src="../../images/header-coefficients.png">
                        <div>WMA параметри</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>